@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root{
    --main-color: #FFD2A4;
    --light-orange: #FFF5EB;
    --gray: #F5F2F0;
    --black: #0D0D0D;
    --main-radius: 15px;
    --hover-bg: #F2C79B;
}

/*----------Global-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 28px;
    color: #161722;
    overflow-x: hidden;
}
.container{
    padding: 0 15px;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.container.grid{
    display: grid;
    gap: 30px;
}
h1{
    font-size: 40px;
    line-height: 50px;
}
h3{
    font-size: 31px;
    line-height: 46px;
}
img{
    width: 100%;
    max-width: 100%;
    display: inline-block;
}
a {
    text-decoration: none;
}
b,
strong {
    font-weight: 700;
}
button{
    border: 0;
    outline: none;
    cursor: pointer;
}
.main-button{
    background-color: var(--main-color);
    text-transform: uppercase;
    font-family: inherit;
    font-size: 15px;
    border-radius: 15px;
    padding: 20px 45px;
    cursor: pointer;
}
.main-button:hover{
    background-color: var(--hover-bg);
}
.main-heading{
    padding-bottom: 40px;
}
.main-heading.center{
    text-align: center;
}
.main-heading p {
    font-size: 20.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.main-heading .title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -.5px;
    text-transform: uppercase;
    font-weight: 700;
}
.main-heading .title-small {
    letter-spacing: -.5px;
    text-transform: uppercase;
    font-weight: 700;
}








/*-------header--------*/

#main-header{
    background-color: var(--black);
    position: relative;
    width: 100%;
    padding: 15px 0;
    left: 0;
    top: 0;
    z-index: 999;
}

#main-header.sticky {
    position: fixed;
    animation: stickyHeaderAnim .5s;
}

@keyframes stickyHeaderAnim {
    from{
        top: -120px;
    }
    to{
        top: 0px;
    }
}

#main-header .container{
    display: flex;
    align-items: center;
}

.header-logo a {
    display: flex;
}

.header-logo img{
    width: 168px;
}

#main-header .header-button {
    margin-left: auto;
    margin-right: 20px;
}

#main-header .header-button button {
    background-color: var(--main-color);
    text-transform: uppercase;
    font-family: inherit;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px 15px;
}

#main-header .header-button button:hover{
    background-color: var(--hover-bg);
}

.offcanvas-toggler {
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 9999;
}

.offcanvas-toggler div{
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
}

.offcanvas-toggler div:nth-child(1){
    top: 0;
    transition: .4s;
}

.offcanvas-toggler div:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

.offcanvas-toggler div:nth-child(3){
    bottom: 0;
    transition: .6s;
}

.offcanvas-toggler.active div:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.offcanvas-toggler.active div:nth-child(2){
    display: none;
}

.offcanvas-toggler.active div:nth-child(3){
    top: 50%;
    transform: translateY(-50%) rotate(-225deg);
}

#main-navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 60px;
    display: flex;
    align-items: center;
    left: 100%;
    background-color: var(--black);
    z-index: 999;
    transition: left .4s ease-in-out, opacity .4s linear;
    opacity: .4;
    overflow: hidden;
}

#main-navigation.active {
    left: 0;
    opacity: 1;
}

#main-navigation ul {
    position: relative;
    bottom: -150px;
    opacity: 0;
    transition: .6s linear;
    transition-delay: .3s;
    list-style-type: none;
}

#main-navigation.active ul{
    bottom: 0px;
    opacity: 1;
    list-style-type: none;
}

#main-navigation ul li{
    margin: 20px 0;
}

#main-navigation ul li a {
    color: white;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;
    transition: .4s;
    text-transform: uppercase;
}

#main-navigation ul li a.active,
#main-navigation ul li a:hover {
    color: var(--main-color);
}




/*-----------hero section------------*/

section.main-hero {
    background: url(images/home/hero/hero-mobile.jpg) no-repeat center right;
    background-size: cover;
    min-height: 500px;
    padding: 80px 0;
    color: white;
    display: flex;
    align-items: center;
}

.main-hero .container {
    display: flex;
    align-items: center;
}

.main-hero .top-heading{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.main-hero h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.main-hero p.line-text {
    position: relative;
    padding-left: 28px;
    font-size: 17px;
    line-height: 1.4;
    margin-top: 50px;
}

.main-hero p.line-text::before{
    content: "";
    width: 23px;
    height: 2.5px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 10px;
}


/*--------Intro boxes---------*/

section.intro-boxes {
    padding: 70px 0;
}

.intro-boxes .intro-box{
    background-color: var(--light-orange);
    padding: 60px 40px;
    border-bottom: 20.5px solid var(--main-color);
}

.intro-boxes .intro-box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin: 25px 0 10px;
}

.intro-boxes .intro-box .img-circle{
    width: 61.5px;
    height: 61.5px;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 15px;
}


/*----------Moved down image section---------*/

section.down-image {
    padding-bottom: 70px;
    text-align: center;
}

section.down-image .container{
    max-width: 1470px;
}

.down-image .center-text {
    text-align: center;
    max-width: 1080px;
    margin: auto;
}

.down-image .main-button {
    margin-top: 40px;
}

.down-image .container.three-images {
    margin-top: 30px;
    margin-bottom: 50px;
}

.down-image .container.bottom-text .main-heading {
    padding-bottom: 20px;
}

.down-image .container.bottom-text .center-text {
    max-width: 660px;
}

.down-image .small-arrow-button {
    color: inherit;
    font-weight: normal;
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
}

.down-image .small-arrow-button img{
    width: 23px;
    margin-left: 8px;
}


/*------------Bottom-------------*/









/*------------Responsive rules--------------*/

@media (min-width: 421px) {
    
}

@media (min-width: 768px) {
    .container{
        padding: 0 30px;
    }
    .small-container{
        padding: 0 30px;
    }
    section.main-hero {
        background-image: url(images/home/hero/hero-desktop.jpg);
        min-height: 600px;
    }
}

@media (min-width: 992px) {
    body{
        font-size: 20.5px;
        line-height: 31px;
    }
    .container{
        padding: 0 45px;
    }
    #main-header .header-button button {
        padding: 22px 60px;
        font-size: inherit;
    }
    #main-header {
        padding: 0;
    }
    #main-header .header-button {
        margin-right: 0px;
    }
    .main-button {
        padding: 22px 60px;
        font-size: inherit;
    }
    .main-heading .title {
        font-size: 61.5px;
        line-height: 82px;
    }
    .main-heading p {
        margin-bottom: 15px;
    }
    .offcanvas-toggler {
        display: none;
    }
    #main-navigation {
        display: flex;
        justify-content: center;
        opacity: 1;
        position: static;
        width: auto;
        background-color: transparent;
        padding: 0 0 0 70px;
        margin: 0 0 0 70px;
        transition: none;
        height: 102px;
        border-left: 2.5px solid rgb(255 255 255 / 10%);
    }
    #main-navigation ul {
        position: static;
        opacity: 1;
        display: flex;
        transition: none;
    }
    #main-navigation ul li {
        margin: 0;
    }
    #main-navigation ul li:not(:last-child) {
        margin-right: 25px;
    }
    #main-navigation ul li a {
        font-size: inherit;
    }
    #main-navigation ul li a.active{
        font-weight: 400;
    }
    h1{
        font-size: 82px;
        line-height: 105px;
    }
    h3{
        font-size: 41px;
        line-height: 56px;
    }
    .main-hero p.line-text {
        font-size: inherit;
        margin-top: 80px;
    }
    .main-hero .top-heading {
        margin-bottom: 20px;
    }
    .main-hero h1 {
        margin-bottom: 45px;
    }
    section.intro-boxes {
        padding: 120px 0;
    }
    .intro-boxes .container.grid.boxes {
        grid-template-columns: repeat(3, 1fr);
    }
    section.down-image {
        padding-bottom: 120px;
    }
    .down-image .container.three-images {
        margin-top: -20px;
        grid-template-columns: 1.5fr 2fr 1.5fr;
    }
    .down-image .container.three-images .big-image{
        margin-top: 60px;
    }
}


@media (min-width: 1200px) {
    .container{
        padding: 0 80px;
    }
    .small-container{
        padding: 0 80px;
    }
    #main-navigation ul li:not(:last-child) {
        margin-right: 55px;
    }
    section.main-hero {
        min-height: 850px;
    }
    .intro-boxes .intro-box {
        padding: 100px;
    }
    .main-button {
        padding: 36px 106px;
        font-size: 26px;
    }
}